<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bravo App</title>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <div id="bg-container">
        <section class="general-container">
          <h1 id="main-title">Bravo</h1>
          <h2 >Plan your travel.</h2>
          <form id="travelForm"class="travelForm" onsubmit="return Client.storeInfo(event)">
            <div id="dest">
              <label for="Destination ">Where<br/></label>
              <input class="inputs" id="destination" type="text" name="Destination" placeholder="City" required>
            </div>
            <div id="dep">
              <label for="departure">Departure<br/></label>
              <input class="inputs" id="departure"type="date" name="departureDate"required>
            </div>
            <div id="ret">
              <label for="return">Return<br/></label>
              <input class="inputs" id="return"type="date" name="returnDate" required>
            </div>
            <input class="inputs" id="search-button"type="submit" value="SEARCH" onclick="return Client.storeInfo(event)" onsubmit="return Client.storeInfo(event)">
          </form>
        </section>
      </div>

      <div id="bg-container2" class="hidden"> <!--Display flex, center con max width, HIDDEN-->
        <section class="general-container2">
          <h2 id="destinationTitle">Weather in </h2>
          <div id="weathers-container">
          </div>
        </section>
        <button onClick="window.location.reload();" id="returnButton">
          <p id="returnText">Return</p>
          <img src="../img/return.png" alt="Return Icon" id="returnIcon">
        </button>
      </div>
    </main>
  </body>
</html>
