*{
  font-family: 'Roboto', sans-serif;
}
body{
  margin:0;
}
h1{
  color: white;
  font-size: 10em;
  margin:0;
  margin-left: -10px;
  text-align: left;
}
h2{
  color:white;
  font-size: 1.8em;
  margin:0;
  margin-top: -10px;
}
.hidden{
  display:none;
}

#bg-container{
  height: 100vh;
  padding:0;
  background-image: url("../img/plane-background.jpg");
  background-size: cover;
}
  .general-container{
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: flex-end;
    margin:0 10vw;
    position:relative;
  }
      #travelForm{
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        height: 10vh;
        margin:0;
        margin-top: 25vh;
        padding:0;
      }
        #travelForm div{
          background-color: white;
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          opacity: 0.6;
          padding:10px 20px 0 20px;
        }
        #dest{
          flex:0.7;
        }
        #dep{
          flex:1;
          }
        #ret{
          flex:1;
        }
        #search-button{
            background-color:#00A271;
            color:white;
            display: flex;
            flex:1;
            font-weight: bold;
            height:100%;
            justify-content: center;
            font-size: 1.1em;
            margin:0;
            width:100%;
          }
          #search-button:hover{
            background-color:#67a391;
          }
          label{
            color:#242424;
            flex:1;
            overflow: hidden;
          }
          .inputs{
            border: 0;
            box-sizing: border-box;
            color: #5B5B5B;
            flex:1;
            font-weight: bold;
            overflow: hidden;
          }

    /* //------------------ */
    #bg-container2{
      height: 100vh;
      padding:0;
      background-size: cover;
      background-color:rgba(36,36,36, 0.7);
      background-blend-mode: multiply;
    }
      .general-container2{
        display:flex;
        flex-direction: column;
        height:100vh;
        justify-content: center;
        margin:0 10vw;
        position:relative;
      }
        #weathers-container{
          display: flex;
          flex-wrap:wrap;
          justify-content: center;
          margin-top: 10vh;
        }
          .tempBox{
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            flex-direction: column;
            font-weight: bold;
            height:150px;
            justify-content: center;
            margin:5px;
            padding: 5px;
            text-align: center;
            width:100px;
          }
            .dateDay{
              color:#242424;
              margin-bottom: 15px;
            }
            .dateTemp{
              color:#242424;
              font-size: 2rem;
              }
        #returnButton{
          bottom: 10px;
          color:white;
          display:flex;
          position: absolute;
          right:10px;
        }
