*{
  font-family: 'Roboto', sans-serif;
}
body{
  margin:0;
}
h1{
  color: white;
  font-size: 10em;
  margin:0;
  margin-left: -10px;
  text-align: left;
}
h2{
  color:white;
  font-size: 1.8em;
  margin:0;
  margin-top: -10px;
}
.hidden{
  display:none;
}

#bg-container{
  height: 100vh;
  padding:0;
  background-image: url("../img/plane-background.jpg");
  background-size: cover;
}
  .general-container{
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: flex-end;
    margin:0 10vw;
  }
      #travelForm{
        display: grid;
        font-weight: bold;
        grid-template-columns:0.8fr 1fr 1fr 1fr;
        height: 10vh;
        margin:0;
        margin-top: 25vh;
        padding:0;
      }
        #travelForm div{
          background-color: white;
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          opacity: 0.6;
          padding:10px 20px 0 20px;
        }
          .destIn{
            width:100%;
          }
        #search-button{
            background-color:#00A271;
            color:white;
            display: flex;
            font-weight: bold;
            height:100%;
            justify-content: center;
            font-size: 1.1em;
            margin:0;
            width:100%;
          }
          #search-button:hover{
            background-color:#67a391;
          }
          label{
            color:#242424;
            flex:1;
            overflow: hidden;
          }
          .inputs{
            border: 0;
            box-sizing: border-box;
            color: #5B5B5B;
            flex:1;
            font-weight: bold;
            overflow: hidden;
          }

    /* //------------------ */
    #bg-container2{
      height: 100vh;
      padding:0;
      background-size: cover;
      background-color:rgba(36,36,36, 0.7);
      background-blend-mode: multiply;
    }
      .general-container2{
        display:flex;
        flex-direction: column;
        height:100vh;
        justify-content: center;
        margin:0 10vw;
        position:relative;
      }
        #weathers-container{
          display: flex;
          flex-wrap:wrap;
          justify-content: center;
          margin-top: 10vh;
        }
          .tempBox{
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            flex-direction: column;
            font-weight: bold;
            height:150px;
            justify-content: center;
            margin:5px;
            padding: 5px;
            text-align: center;
            width:100px;
          }
            .dateDay{
              color:#242424;
              margin-bottom: 15px;
            }
            .dateTemp{
              color:#242424;
              font-size: 2rem;
              }
        #returnButton{
          align-items: center;
          background-color: transparent;
          border: solid 2px white;
          border-radius: 10px;
          bottom: 30px;
          color:white;
          display:flex;
          font-size: 1.1rem;
          position: absolute;
          right:70px;
        }
          #returnText{
            margin-left:10px;
          }
          #returnIcon{
            height:30px;
            margin-left: 10px;
            margin-right: 10px;
          }

    // Media Queries
    @media (max-width: 850px) and (min-width: 650px){
      // -----page1--------
      #travelForm{
        grid-template-columns: 0.8fr 1fr 1fr;
        grid-template-rows: 10vh 8vh;
        margin-bottom: 8vh;
      }
      #search-button{
        grid-column-start: 1;
        grid-column-end: 4;
      }
      // -------page2-----------
      #bg-container2{
        height: auto;
        position: relative;
      }
      .general-container2{
        height: auto;
        padding-top: 20vh;
        padding-bottom: 25vh;
      }
    }
    @media (max-width: 650px){
      // -----page1--------
      .general-container{
        align-items: center;
        text-align: center;
        justify-content:center;
      }
        #main-title{
          font-size: 70px;
        }
        #second-title{
          font-size: 25px;
        }
      #travelForm{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.7fr;
        height:40vh;
        margin-top:5vh;
        margin-bottom: 0;
      }
      #travelForm div{
        align-items: center;
        padding-bottom: 1px;
        padding-top: 10px;
      }
      input{
        text-align: center;
      }
      // -------page2-----------
      #bg-container2{
        height: auto;
        padding-bottom: 20vh;
        padding-top: 20vh;
        position: relative;
        text-align:center;
      }
      .general-container2{
        align-items: center;
        height: auto;
      }
        #weathers-container{
          flex-direction: column;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .tempBox{
          align-items: center;
          flex-direction: row;
          height:auto;
          padding: 20px 5vw;
          width:auto;
        }
          .dateDay{
            margin: 0;
          }
          .dateTemp{
            font-size: 1.3rem;
            margin-left: 5vw;
            }
        #returnButton{
          display:inline-flex;
          position:static;
        }
    }
